@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}

.grid-container{
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1fr 6fr 0.5fr;
	grid-template-areas:
	"nav nav"
	"aside main"
	"footer footer";
}

nav {
	grid-area: nav;
	background-color: #f8f4f3;
}

aside {
	grid-area: aside;
	background-color: #f4eae9;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 1rem 2rem;
	color: #264143;
}

aside h3 {
	font-weight: 300;
	font-size: 1rem;
}

aside h3:hover {
	color: #de5499; /* Cambia el color cuando el mouse está sobre el h3 */
	cursor: pointer; /* Cambia el cursor al estilo de puntero */
}

main {
	grid-area: main;
	background-color: #eddcd9;
}

footer {
	grid-area: footer;
	background-color: #264143;
	color: #ffffff;
}