@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}

.grid-container{
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1fr 10fr 0.8fr;
	grid-template-areas:
	"nav nav"
	"aside main"
	"footer footer";
}

nav {
	grid-area: nav;
	background-color: #f8f4f3;
}

aside {
	grid-area: aside;
	background-color: #f4eae9;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 1rem 2rem;
	color: #264143;
}

aside h3 {
	font-weight: 300;
	font-size: 1rem;
}

aside h3:hover {
	color: #de5499; /* Cambia el color cuando el mouse está sobre el h3 */
	cursor: pointer; /* Cambia el cursor al estilo de puntero */
}

main {
	grid-area: main;
	background-color: #eddcd9;
	padding: 1rem;
}

.product-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 3fr 3fr;
	height: 100%;
	gap: 1.5rem;
}

article {
	display: flex;
	flex-direction: column;
	background-color: #ffff;
	align-items: center;
	border: 2px solid red;
}

.product-img{
	height: 70%;
	width: auto;
	border: 2px solid green;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-img img {
	max-width: 50%;
	height: auto;
}

.product-description {
	height: 18%;
	width: 100%;
	border: 1px solid brown;
	text-align: center;
}

article button {
	width: 100%;
	height: 12%;
}

footer {
	grid-area: footer;
	background-color: #264143;
	color: #f2ebe9;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.social-icons {
	display: flex;
	gap: 10px;
}

.social-icons i {
	font-size: 15px;
	color: #264143;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #eddcd9; /* Color de fondo por defecto (puedes cambiarlo) */
	/* transition: background-color 0.3s ease; */
}